node_modules/
.tmp
.idea
.DS_store
*.log
dist
app/config/environment/local.env.js
docker/local.docker-compose.yml
docker/docker-compose.local.yml
npm-debug.log
mariadb_data
*.sqlite
*.lock
package-lock.json
/app/models/seoulstore/
JetBrains.Dockerfile
.tern*
*.rest
tags
rest-client.env.json
test/**/*.test.js
cache/
rest/**/*.local.http
.env
